.schedule{
	display:flex;
	padding-left:4px;
	color:white;
	border-radius:5px;
	margin-bottom:2px;
	flex-direction:row;
}
.done{
	display:flex;
	padding-left:4px;
	color:#a0a0a0;
	border-radius:5px;
	margin-bottom:2px;
	flex-direction:row;
	text-decoration:line-through;
}
.overschedule{
	
}
.hide{
	display:none;
}