.form{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	width:100%;
}
.week{
	background-color: #A0A0FF;
	color:white;
	font-size:15px;
	border-radius:10px;
	width:100%;
	text-align:center;
	
}