.form{
	border-bottom : 1px solid #e9ecef;
	display:flex;
	width:100%;
	flex-direction:row;
}
.date{
	margin-left:1.5vw;
	display:flex;
	flex-direction:column;
	font-weight:bold;
}
.selectday{
	margin-top:1vh;
	font-size:5vh;
	color: #343a40;
}
.week{
	color:#a0a0a0;
	margin-bottom:2vh;
}