.form{
	padding-left:1vw;
}
input{
	font-size:21px;
	width:98%;
	bottom:10%;
	border: 1px solid #e9ecef;
	outline:none;
	border-radius:6px;
}
.label{
	font-size:16px;
	color:#a0a0a0;
	margin-bottom:0.5vh;
}
.warn{
	font-size:16px;
	color:#FF7E9D;
	margin-bottom:0.5vh;
}
.CircleBtn{
	background:#38d9a9;
	cursor:pointer;
	border: none;
	width:80px;
	height:80px;
	display:flex;
	border-radius:50%;
	align-items:center;
	justify-content:center;
	left:87%;
	bottom:10%;
	position:absolute;
	color:white;
	font-size:50px;
	transform: translate(-50%, 50%);
	transition: 0.125s all ease-in;
}
.CircleBtnActive{
	background: #ff6b6b;
	cursor:pointer;
	border: none;
	width:80px;
	height:80px;
	display:flex;
	border-radius:50%;
	align-items:center;
	justify-content:center;
	left:87%;
	bottom:10%;
	position:absolute;
	color:white;
	font-size:50px;
	transform: translate(-50%, 50%);
	transition: 0.125s all ease-in;
	transform: translate(-50%, 50%) rotate(45deg);
}