.form{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	padding:1vh 0vh;
}
.leftform{
	padding-left:1vw;
	display:flex;
	flex-direction:row;
}
.rightform{
	display:flex;
	flex-direction:row;
	font-size:24px;
}
.prev{
	cursor:pointer;
	margin-right:1vw;
}
.next{
	cursor:pointer;
	margin-right:1vw;
}
.day{
	font-size:28px;
	font-weight: bold;   
	padding-right:0.5vw;
}
.add{
	cursor:pointer;
	margin-right:1vw;
}