.form{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	padding:1vh 0vh;
}
.leftform{
	padding-left:1vw;
	display:flex;
	flex-direction:row;
}
.rightform{
	padding-right:1vw;
	display:flex;
	flex-direction:row;
	font-size:20px;
	
}
.prev{
	cursor:pointer;
}
.next{
	cursor:pointer;
}
.month{
	font-size:24px;
	font-weight: bold;   
	padding-right:0.5vw;
}